<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/h_conferencias?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">usbw</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <mapping resource="hmapas/Conferencia.hbm.xml"/>
    <mapping resource="hmapas/A_Persona.hbm.xml"/>
    <mapping resource="hmapas/Articulo.hbm.xml"/>
    <mapping resource="hmapas/Autor.hbm.xml"/>
    <mapping resource="hmapas/Participante.hbm.xml"/>
    <mapping resource="hmapas/Sesion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
