<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/hconferencias</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">usbw</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property> 
    <mapping resource="hmapasinversa/Personas.hbm.xml"/>
    <mapping resource="hmapasinversa/ParticipantesConferencias.hbm.xml"/>
    <mapping resource="hmapasinversa/Participantes.hbm.xml"/>
    <mapping resource="hmapasinversa/Conferencias.hbm.xml"/>
    <mapping resource="hmapasinversa/Autores.hbm.xml"/>
    <mapping resource="hmapasinversa/Sesiones.hbm.xml"/>
    <mapping resource="hmapasinversa/Articulos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
